:root {
    --bg-color: #f5f5f5;
    --text-color: #6c757d;
    --accent-color: #FFd333;
    --contrast-color: #3D464d;


}

html, body {
    height: 100%;
}

body {
    min-width: 320px;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

a {
    color: var(--text-color);
    text-decoration: underline;
}

a:hover {
    text-decoration: none;

}

img {
    max-width: 100%;
    height: auto;
}

/*.btn {*/
/*    font-family: 'Poppins', sans-serif;*/
/*}*/

.btn,
.dropdown-menu {
    border-radius: 0;
}

/*=========================== General rules Общие правила====================================*/
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main.main {
    flex: 1 1 auto;
}

/*=========================== General rules Общие правила====================================*/


/*=========================== Header rules Общие правила====================================*/

.header-top-phone a {
    text-decoration: none;
}

.header-top-phone a:hover {
    color: var(--accent-color);
    transition: all 0.8s;
}

ul.social-icons {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}

ul.social-icons li {
    margin-right: 10px;
}

ul.social-icons a {
    background-color: var(--accent-color);
    color: var(--contrast-color);
    width: 30px;
    height: 31px;
    line-height: 30px;
    border-radius: 50%;
    float: left;
    text-align: center;
    transition: all 0.7s;
}

ul.social-icons a:hover {
    background-color: var(--contrast-color);
    color: var(--accent-color);
}

.header-top .btn {
    background-color: #fff;
}

/*===================== Logotipe Общие правила===================*/
.header-logo img {
    width: 30px;
    height: auto;
    }


/*===================== General rules Общие правила===================*/
